// TODO styles for header.header {
.header {
    &__container {
        display: flex;
    }
}
.header {
    &--wrap  {
        // background: radial-gradient(circle, #ffffff,#2F73B6);
        background: black;
        border: 2px solid rgb(11, 212, 222);
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 15px;;
    }

}
.logo_wrapper {
        width: 10%;
        text-align: center;
    &:hover {
        transform: scale(1.05); 
        border-radius:25px;
    }
}

.nav-logo__logo-img {
    width: 95px;
    padding-top: 20px ;
&:hover {
    transform: scale(1.3);
    }
}

.nav-logo__logo-img {
    path {
        fill: #00C2CB;
    }
}

.search_wrapper {
    position: relative;
    width: 55%;
    height: 100px;
    display: block;
}

.search {
    &__form {
        display: block;
        margin: 20px 0;
    }
    
    &__form:hover .btn-submit {
    display: block;
    }
    &__icon {
    width: 25px;
    display: block;
    position: absolute;
    top: 35px;
    left: 15px;
    }
    &__icon-img {
    width: 100% ;
 }
    &__form:hover + &__icon   {
     display: none;
 } 
 
    &__top-btn {
     width: 100%;
     border: none;
     border-radius: 100px;
     font-family: "Lora", sans-serif;
     font-weight: 400;
     font-size: 20px;
     background-color: #00C2CB;
     padding: 15px;
     outline: none;
     transition: background-color, color 0.5s ease-in-out;
 
     &:hover, &:focus {
         background-color:#00c1cbdc;
         font-weight: 400;
         cursor: pointer;
         transform: scale(1.01);
        } 
    }
}
.search__top-btn::placeholder {
    color: black;
    text-align: start;
    padding: 35px;
   
}
.search__top-btn:hover::placeholder{
    color: white;
}

.search__top-btn:hover:-ms-input-placeholder {
    color: white;
  }
.search__top-btn:hover::-ms-input-placeholder {
    color: white;
  }
.btn-submit {
    display: none;  //!!!!!!
    position: absolute;
    right: 25px;
    border:none;
    bottom:36px;
    border-radius:20px;
    width:30px;
    height: 30px;
    background-color: black;
    color: white;
    outline: none;

}



//   /* Контейнер <div> - необходим для размещения выпадающего содержимого */
.create_desk {
    &--wrapp {
        width: 30%;
        margin: auto 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;

    }}
    

//   /* Выпадающее содержимое (скрыто по умолчанию) */
  .desk-selector {
    background-color: #00C2CB;
    width: 100px;
    height: 50px;
    border: none;
    border-radius:20px;
    outline: none;
    &:hover, &:focus  {
        background-color:#00c1cbdc;
        color: white;
        cursor: pointer;
    }
}
  
//   /* Ссылки внутри выпадающего списка */
  .list-check__item {
    width: 120px;
    height: 45px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color, color .7s ease-in-out;
  }
//   /* Изменение цвета выпадающих ссылок при наведении курсора */
.list-check__item:hover,.list-check__item:focus  {
    background-color:rgb(184, 180, 180);
    color: white;
    cursor: pointer;
}