.pin-actions-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(255,255,255, 0.5);

    .pin-actions {
        width: 100%;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        .pin-btn{ 
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 1px solid #39C0D4;
            outline: none;
            margin: 5px 0;
            color: #ffffff;
            font-size: large;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: capitalize;

            &:hover {
                box-shadow: 0px 0px 10px 0.5px #39C0D4;
            }

            &.add-pin {
                background: linear-gradient(180deg, #1797A8 0%, #00C2CB 100%);
                font-family: 'Century Gothic';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                letter-spacing: 0.12em;
            }

            &.complaint-pin {
                background-color: rgba(30, 30, 30, 0.85);
                color:#00C2CB;
                font-family: 'Century Gothic';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                letter-spacing: 0.12em;
            }
        }
    }
}

.board-list__pin:hover .pin-actions-wrapper {
    display: block;
}