
.select_board_modal--wrapper {
    background-color: black;
    position: relative;
    display: grid;
    width: 650px;
    height: 480px;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
    padding: 20px;
    border: 0.5px solid #7CEEFF;

}
#select_board_modal {
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:#7CEEFF;
    background-color: rgba(0,0,0, 0.7);
    font-family: 'Monserrat', sans-serif;
    align-items: center;
    justify-content: center;
    &.visible {
        display: flex;
    }
}
.select_board_modal__title {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 120px;
    text-align: center;
    margin:  auto;
}
.btn-circular {
    display: flex;
    align-items: center;
    justify-content: center;
        border: none;
        border-radius: 100px;
        font-weight: 400;
        font-size: 20px;
        background-color: #00C2CB;
        padding: 15px;
        outline: none;

        &:hover, &:focus {
            background-color:#00c1cbdc;
            cursor: pointer;
            color:white;
        } 

}
.greenish-blue-x {
    position: absolute;
    top: 15px;
    right: 15px;
    width:40px ;
    height: 40px;
    text-align: center;
    transition: background-color, color 0.5s ease-in-out;  
}
.greenish-blue-ok {
    width:55px ;
    height: 55px;
    margin-left: 20px;
}
#select_board_modal__form {
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 200px;

}
.desk-selector {
    width: 70%;
    background-color: #00c2cb;
    border: none;
    border-radius: 100px;
    outline: none;
    padding: 15px;
    font-family: Lora, sans-serif;
    font-size: 20px;
    font-weight: 400;
    transition: background-color, color .5s ease-in-out;}

.btn-circular__text {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    }
    
