@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --body-color: white;
  --basic-font: 16px, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-size: var(--basic-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background: var(--body-color);
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  border: 2px solid blueviolet;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__search-title {
  color: red;
}

.board-header--wrap {
  border: 2px solid blueviolet;
}
.board-header__nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.board-header__nav-logo {
  width: 90px;
  height: 100px;
  background-color: aqua;
}
.board-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.board-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(43, 226, 89);
}
.board-header__nav-item, .board-header__nav-link {
  padding: 20px;
  margin-right: 25px;
  font-family: "Lora", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.board-header__nav-item:hover, .board-header__nav-link:hover {
  color: rgb(92, 14, 14);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.list-check {
  width: 500px;
  height: 65px;
  border-radius: 100px;
  margin: 20px 0;
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 600;
  font-size: 20px;
  background: rgb(184, 180, 180);
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.list-check:hover, .list-check:focus {
  background: rgb(94, 90, 90);
  color: white;
  cursor: pointer;
}
.list-check__item {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background: white;
}
.list-check__item-active {
  font-size: 18px;
}

.board-body__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.board-body__title-wrap {
  height: 120px;
  width: 30%;
  margin-bottom: 15px;
}
.board-body__title {
  padding: 20px 0;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
}
.board-body__title-note {
  font-size: 20px;
  text-align: center;
}
.board-body__list-check {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-top: 10px;
  background: rgb(184, 180, 180);
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.board-body__list-check:hover, .board-body__list-check:focus {
  background: rgb(94, 90, 90);
  cursor: pointer;
}

.list-check__item-main {
  text-align: center;
}

.button {
  height: 65px;
  width: 150px;
  border-radius: 100px;
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.button__btn-save--wrap {
  position: absolute;
  margin: 20px 0;
  right: 15px;
}
.button__btn-save {
  background-color: rgb(182, 32, 32);
  color: white;
}

.board-list--wrap {
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.board-list__pin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.board-list__pin-img {
  width: 99%;
  max-height: 100%;
  background-size: cover;
  border-radius: 20px;
  border: 1px solid grey;
}
.board-list__list-check {
  position: absolute;
  left: 10px;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  width: 10%;
  margin-left: 10px;
  -webkit-transition: background-color, color 0.6s ease-in-out;
  transition: background-color, color 0.6s ease-in-out;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
  background-color: rgb(94, 90, 90);
  color: white;
}

/* Кнопка выпадающего списка */
.dropbtn {
  background-color: rgb(184, 180, 180);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.dropbtn-span {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
  background-color: rgb(94, 90, 90);
  color: white;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}

/* Ссылки внутри выпадающего списка */
.list-check__item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.list-check__item:hover {
  background-color: rgb(184, 180, 180);
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
  display: block;
}

.list-check__for-pin {
  width: 150px;
}/*# sourceMappingURL=index.css.map */