@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --body-color: white;
  --basic-font: 16px, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-size: var(--basic-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background: #000000;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header--wrap {
  background: black;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  cursor: pointer;
}

.nav-logo__logo-img {
  width: 55px;
}

.search_wrapper {
  position: relative;
  width: 55%;
  height: 100px;
  display: block;
}

.search__form {
  display: block;
  margin: 22.5px 0;
}
.search__form:hover .btn-submit {
  display: block;
}
.search__icon {
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  top: 37.5px;
  left: 15px;
}
.search__icon-img {
  width: 100%;
  height: 100%;
}
.search__top-btn {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 100px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #00C2CB;
  padding: 15px 45px;
  outline: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.search__top-btn:hover, .search__top-btn:focus {
  background-color: rgba(0, 193, 203, 0.862745098);
  font-weight: 400;
  cursor: pointer;
}

.search__top-btn::-webkit-input-placeholder {
  color: black;
  text-align: start;
  padding: 35px 0px;
}

.search__top-btn::-moz-placeholder {
  color: black;
  text-align: start;
  padding: 35px 0px;
}

.search__top-btn:-ms-input-placeholder {
  color: black;
  text-align: start;
  padding: 35px 0px;
}

.search__top-btn::-ms-input-placeholder {
  color: black;
  text-align: start;
  padding: 35px 0px;
}

.search__top-btn::placeholder {
  color: black;
  text-align: start;
  padding: 35px 0px;
}

.search__top-btn:hover::-webkit-input-placeholder {
  color: white;
}

.search__top-btn:hover::-moz-placeholder {
  color: white;
}

.search__top-btn:hover:-ms-input-placeholder {
  color: white;
}

.search__top-btn:hover::-ms-input-placeholder {
  color: white;
}

.search__top-btn:hover::placeholder {
  color: white;
}

.btn-submit {
  display: none;
  position: absolute;
  right: 25px;
  border: none;
  bottom: 35px;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  outline: none;
  padding-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}
.btn-submit:hover, .btn-submit:active {
  display: block;
}

.create_desk--wrapp {
  width: 20%;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

.desk-selector {
  width: 120px;
  height: 55px;
}

.button-desk {
  background-color: #00C2CB;
  border: none;
  border-radius: 30px;
  outline: none;
  color: black;
}
.button-desk:hover, .button-desk:focus {
  background-color: rgba(0, 193, 203, 0.862745098);
  color: white;
  cursor: pointer;
}

.create_desk_btn {
  width: 60px;
  height: 55px;
  font-weight: bold;
  font-size: 25px;
}

.list-check__item {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

.create_desk_btn:hover, .create_desk_btn:focus {
  cursor: pointer;
}

.board-body__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.board-list--wrap {
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.board-list__pin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 5px;
}
.board-list__pin:hover {
  -webkit-box-shadow: 0px 0px 10px 0.5px #39C0D4;
          box-shadow: 0px 0px 10px 0.5px #39C0D4;
}
.board-list__pin--wrap {
  height: 600px;
  display: grid;
  grid-template-rows: 3fr 1fr;
}
.board-list__pin-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid grey;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.board-list__description--wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.board-list__avatar-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.board-list__avatar {
  width: 50px;
  height: 50px;
}
.board-list__description {
  height: 2.5em;
  overflow: hidden;
  color: #FFFFFF;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.06em;
}

.complaint-modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Monserrat", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.complaint-modal .complaint-modal-wrapper {
  background-color: #ffffff;
  position: relative;
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-max-content auto -webkit-max-content;
  grid-template-rows: max-content auto max-content;
  padding: 20px;
}
.complaint-modal .complaint-modal-wrapper .complaint-modal__list {
  height: 100%;
  overflow-y: auto;
}

.pin-actions-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.pin-actions-wrapper .pin-actions-description {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px 20px 0 20px;
}
.pin-actions-wrapper .pin-actions {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.pin-actions-wrapper .pin-actions .pin-btn {
  width: 100%;
  height: 30px;
  border-radius: 25px;
  border: 1px solid #39C0D4;
  outline: none;
  margin: 5px 0;
  color: #ffffff;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.pin-actions-wrapper .pin-actions .pin-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 0.5px #39C0D4;
          box-shadow: 0px 0px 10px 0.5px #39C0D4;
}
.pin-actions-wrapper .pin-actions .pin-btn.add-pin {
  background: -webkit-gradient(linear, left top, left bottom, from(#1797A8), to(#00C2CB));
  background: linear-gradient(180deg, #1797A8 0%, #00C2CB 100%);
  opacity: 85%;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.12em;
}
.pin-actions-wrapper .pin-actions .pin-btn.complaint-pin {
  background-color: rgba(30, 30, 30, 0.85);
  color: #00C2CB;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.12em;
}

.board-list__pin:hover .pin-actions-wrapper {
  display: grid;
}

.board-list__pin {
  position: relative;
}
.board-list__pin .pin-avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
  border: 2px solid #ffffff;
}

#create_board_modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
#create_board_modal .create-board-modal--background {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#create_board_modal .create-board-modal--background .create-board-model--wrapper {
  width: 70%;
  height: 50%;
  position: relative;
  padding: 20px;
  background-color: white;
}
#create_board_modal .create-board-modal--background .create-board-model--wrapper #save_create_board_modal {
  border: 1px solid black;
}
#create_board_modal .create-board-modal--background .create-board-model--wrapper #save_create_board_modal:hover {
  -webkit-box-shadow: 0px 0px 10px 0.5px #39C0D4;
          box-shadow: 0px 0px 10px 0.5px #39C0D4;
  cursor: pointer;
}
#create_board_modal .create-board-modal--background .create-board-model--wrapper #close_create_board_modal {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: 3ms ease-in-out;
  transition: 3ms ease-in-out;
}
#create_board_modal .create-board-modal--background .create-board-model--wrapper #close_create_board_modal:hover {
  -webkit-box-shadow: 0px 0px 10px 0.5px #39C0D4;
          box-shadow: 0px 0px 10px 0.5px #39C0D4;
  cursor: pointer;
}
#create_board_modal .create-board-modal--background .create-board-model--wrapper .create_board_modal__title {
  text-align: center;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.065em;
  color: #00C2CB;
  margin-bottom: 30px;
}
#create_board_modal .create-board-modal--background .create-board-model--wrapper #create_board_modal__desk-title-input {
  outline: none;
}
#create_board_modal .create-board-modal--background .create-board-model--wrapper #crete_board_modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
#create_board_modal .create-board-modal--background .create-board-model--wrapper #crete_board_modal__form #crete_board_modal__form-error {
  background: red;
  display: none;
}
#create_board_modal .create-board-modal--background .create-board-model--wrapper #crete_board_modal__form #crete_board_modal__form-error.visible {
  display: block;
}

.select_board_modal--wrapper {
  width: 50vw;
  height: 50vh;
  position: relative;
}

#select_board_modal {
  display: none;
  position: absolute;
  border: 3px solid #00C2CB;
  top: 150px;
  left: 490px;
  background: black;
}
#select_board_modal.visible {
  display: block;
}

.select_board_modal__title {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 120px;
  text-align: center;
  margin: auto;
}

.btn-circular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 100px;
  font-weight: 400;
  font-size: 20px;
  background-color: #00C2CB;
  padding: 15px;
  outline: none;
}
.btn-circular:hover, .btn-circular:focus {
  background-color: rgba(0, 193, 203, 0.862745098);
  cursor: pointer;
  color: white;
}

.greenish-blue-x {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-transition: background-color, color 0.5s ease-in-out;
  transition: background-color, color 0.5s ease-in-out;
}

.greenish-blue-ok {
  width: 55px;
  height: 55px;
  margin-left: 20px;
}

#select_board_modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  top: 200px;
}

.desk-selector {
  width: 70%;
  background-color: #00c2cb;
  border: none;
  border-radius: 100px;
  outline: none;
  padding: 15px;
  font-family: Lora, sans-serif;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: background-color, color 0.5s ease-in-out;
  transition: background-color, color 0.5s ease-in-out;
}

.btn-circular__text {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}/*# sourceMappingURL=index.css.map */