<section class="board-body--wrap">
    <div class="container">
        <div class="board-body__block">
            </div>
                <div class="board-list--grid-wrap">
                    <div class="board-list--wrap">
                        <div class="board-list__pin">
                            <img  class="board-list__pin-img" src='./images/img1.jpg' alt="">
                            <!-- FIXME use BEM -->
                            <div class="pin-actions-wrapper">
                                <div class="pin-actions">
                                    <button class="pin-btn add-pin">Добавить</button>
                                    <button class="pin-btn complaint-pin">Пожаловаться</button>
                                </div>
                            </div>
                        </div>
                        <div class="board-list__pin">
                            <img  class="board-list__pin-img" src='./images/img2.jpg' alt="">
                        </div>
                        <div class="board-list__pin">
                            <img  class="board-list__pin-img" src='./images/img2.jpg' alt="">
                        </div>
                        <div class="board-list__pin">
                            <img  class="board-list__pin-img" src='./images/img2.jpg' alt="">
                        </div>
                        <div class="board-list__pin">
                            <img  class="board-list__pin-img" src='./images/img2.jpg' alt="">
                        </div>
                        <div class="board-list__pin">
                            <img  class="board-list__pin-img" src='./images/img6.jpg' alt="">
                        </div> 
                        
                        <div class="board-list__pin">
                            <img  class="board-list__pin-img" src='./images/img4.jpg' alt="">
                        </div>
                        <div class="board-list__pin">
                            <img  class="board-list__pin-img" src='./images/img5.jpg' alt="">
                        </div>                         
                </div>
            </div>                
    </div>    
</section>