<section class="board-header--wrap">
    <div id="board-1" class="container">
        <div class="board-header__nav-wrap">
            <div class="board-header__nav-logo">
                <img class="nav-logo__logo-img" src="" alt="">
            </div>
            <div class="board-header__nav">
                <ul class="board-header__nav-list">
                    <li class="board-header__nav-item">
                        <a class="board-header__nav-item" href="#mainPage">Главная</a> </li>
                    <li class="board-header__nav-item">
                        <a  class="board-header__nav-link" href="#userProfile">Ваш профиль</a> </li>
                    <!-- <li class="board-header__nav-item">Ваш профиль</li> -->
                </ul>
                <div class="board-header__list-check--wrap">
                    <select class="list-check">
                        <option class="list-check__item list-check__item-active " value="title-option">Ваши доски</option>
                        <option class="list-check__item" value="option-first">Доска 1</option>
                        <option class="list-check__item" value="option-second">Доска 2</option>
                        <option class="list-check__item" value="option-therd">Доска 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>    
</section>
<section class="board-body--wrap">
    <div class="container">
        <div class="board-body__block">
            <h2 class="board-body__title">Наименование доски (вводится пользователем при создании) </h2>
            <!-- счетчик пинов как сделать? -->
            <button class="button "> ...</button>
            <div class="board-body__list--wrap">
                    <select class="list-check">
                        <option class="list-check__item" value="title-option">Редактирование доски</option>
                        <option class="list-check__item" value="option-first">Наименование</option>
                        <option class="list-check__item" value="option-second">Описание</option>
                        <option class="list-check__item" value="option-therd">Удалить доску</option>
                    </select>
            </div>
            <div class="board-body__board-wrap">
                <div class="board-body__pin">
                    <img  class="board-body__pin-img" src="" alt="">
                </div>
                <div class="board-body__pin">
                    <img  class="board-body__pin-img" src="" alt="">
                </div>
                <div class="board-body__pin">
                    <img  class="board-body__pin-img" src="" alt="">
                </div>
            </div>
        </div>
    </div>    
</section>
