<section class="board-body--wrap">
    <div class="container">
        <div class="board-list--grid-wrap">
            <div class="board-list--wrap" id="board_list">
                <div class="board-list__pin--wrap">
                    <div class="board-list__pin">
                        <img  class="board-list__pin-img" src='./images/img1.jpg' alt="">
                        <div class="pin-actions-wrapper">
                            <div class="pin-actions">
                                <button class="pin-btn add-pin">Добавить</button>
                                <button class="pin-btn complaint-pin">Пожаловаться</button>
                            </div>
                        </div>
                    </div>
                    <div class="board-list__description--wrapper">
                        <div class="board-list__avatar-wrapper">
                            <img class="board-list__avatar" src="https://cloudflare-ipfs.com/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/1035.jpg" alt="">
                        </div>
                        <p class="board-list__description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>