<div class="complaint-modal" id="complaint_modal">
    <form class="complaint-modal-wrapper" id="complaint_modal_form">
        <h2 class="complaint-modal__title">Жалоба на пин</h2>
        <div class="complaint-modal__list">
            <input type="hidden" id="complaint_modal_hidden_pin_id" name="pin_id">
            <div class="complaint-modal__item">
                <label class="complaint-modal__cause">
                    <input type="radio" class="complaint-modal__radio" name="complaint_variant" value="spam">
                    <p class="complaint-modal__item-desc">Спам</p>
                </label>
                <p class="complaint-modal__item-subdesc">Вводящие в заблуждение или повторяющиеся публикации</p>
            </div>
    
    
            <div class="complaint-modal__item">
                <label class="complaint-modal__cause">
                    <input type="radio" class="complaint-modal__radio" name="complaint_variant" value="porn">
                    <p class="complaint-modal__item-desc">Изображение обнаженного тела или порнография</p>
                </label>
                <p class="complaint-modal__item-subdesc">Содержимое сексуального характера</p>
            </div>
    
    
            <div class="complaint-modal__item">
                <label class="complaint-modal__cause">
                    <input type="radio" class="complaint-modal__radio" name="complaint_variant" value="suicide">
                    <p class="complaint-modal__item-desc">Членовредительство</p>
                </label>
                <p class="complaint-modal__item-subdesc">Расстройства пищевого поведения, нанесение травм себе, суициид</p>
            </div>
    
    
            <div class="complaint-modal__item">
                <label class="complaint-modal__cause">
                    <input type="radio" class="complaint-modal__radio" name="complaint_variant" value="lie">
                    <p class="complaint-modal__item-desc">Ложная информация</p>
                </label>
                <p class="complaint-modal__item-subdesc">Ложная информация о здоровье, климате, голосованиях или теории заговора</p>
            </div>
    
    
            <div class="complaint-modal__item">
                <label class="complaint-modal__cause">
                    <input type="radio" class="complaint-modal__radio" name="complaint_variant" value="agression">
                    <p class="complaint-modal__item-desc">Агрессивные действия</p>
                </label>
                <p class="complaint-modal__item-subdesc">Предрассудки, стереотипы, идея превосходства белой расы, оскорбления</p>
            </div>
    
    
            <div class="complaint-modal__item">
                <label class="complaint-modal__cause">
                    <input type="radio" class="complaint-modal__radio" name="complaint_variant" value="dangerous_goods">
                    <p class="complaint-modal__item-desc">Опасные товары</p>
                </label>
                <p class="complaint-modal__item-subdesc">Наркотики, оружие, регулируемые товары</p>
            </div>
    
    
            <div class="complaint-modal__item">
                <label class="complaint-modal__cause">
                    <input type="radio" class="complaint-modal__radio" name="complaint_variant" value="privacy_violation">
                    <p class="complaint-modal__item-desc">Преследование или нарушение конфиденциальности</p>
                </label>
                <p class="complaint-modal__item-subdesc">Оскорбления, угрозы, публикация персональных данных</p>
            </div>
    
    
            <div class="complaint-modal__item">
                <label class="complaint-modal__cause">
                    <input type="radio" class="complaint-modal__radio" name="complaint_variant" value="violation">
                    <p class="complaint-modal__item-desc">Сцены насилия</p>
                </label>
                <p class="complaint-modal__item-subdesc">Графическое изображение или пропоганда насилия</p>
            </div>
    
    
            <div class="complaint-modal__item">
                <label class="complaint-modal__cause">
                        <input type="radio" class="complaint-modal__radio" name="complaint_variant" value="copyright_infringement">
                        <p class="complaint-modal__item-desc">Это моя интелектуальная собственность</p>
                </label>
                <p class="complaint-modal__item-subdesc">Нарушение авторских прав или прав на товарный знак</p>
            </div>
        </div>
        <div class="buttons">
            <button class="btn btn--close" type="button" id="complaint_modal_cancel">Отменить</button>
            <button class="btn btn--next" type="submit">Отправить</button>
        </div>
    </form>
</div>
