<link rel="stylesheet" href="../sass/index.css">

<div class="complaint-menu">
    <div class="complaint-menu__title--wrapper">
        <p class="complaint-menu__title">Жалоба на пин</p>
    </div>
    <div class="complaint-menu__list">

        <div class="complaint-menu__item">
            <label class="custom-checkbox">
                <input type="checkbox" value="value-1" class="complaint-menu__checkbox">Спам
                <span class="complaint-menu__item-desc">Вводящие в заблуждение или повторяющиеся публикации</span>
            </label>
        </div>

        <div class="complaint-menu__item">
            <label class="custom-checkbox">
                <input type="checkbox" value="value-1" class="complaint-menu__checkbox">Изображение обнаженного тела или порнография
                <span class="complaint-menu__item-desc">Содержимое сексуального характера</span>
            </label>
        </div>

        <div class="complaint-menu__item">
            <label class="custom-checkbox">
                <input type="checkbox" value="value-1" class="complaint-menu__checkbox">Членовредительство
                <span class="complaint-menu__item-desc">Расстройства пищевого поведения, нанесение травм себе, суициид</span>
            </label>
        </div>

        <div class="complaint-menu__item">
            <label class="custom-checkbox">
                <input type="checkbox" class="complaint-menu__checkbox">Ложная информация
                <p class="complaint-menu__item-desc">Ложная информация о здоровье, климате, голосованиях или теории заговора</p>
            </label>
        </div>

        <div class="complaint-menu__item">
            <label class="complaint-menu__cause">
                <input type="checkbox" class="complaint-menu__checkbox">Агрессивные действия
                <p class="complaint-menu__item-desc">Предрассудки, стереотипы, идея превосходства белой расы, оскорбления</p>
            </label>
        </div>

        <div class="complaint-menu__item">
            <label class="complaint-menu__cause">
                <input type="checkbox" class="complaint-menu__checkbox">Опасные товары
                <p class="complaint-menu__item-desc">Наркотики, оружие, регулируемые товары</p>
            </label>
        </div>

        <div class="complaint-menu__item">
            <label class="complaint-menu__cause">
                <input type="checkbox" class="complaint-menu__checkbox">Преследование или нарушение конфиденциальности
                <p class="complaint-menu__item-desc">Оскорбления, угрозы, публикация персональных данных</p>
            </label>
        </div>

        <div class="complaint-menu__item">
            <label class="complaint-menu__cause">
                <input type="checkbox" class="complaint-menu__checkbox">Сцены насилия
                <p class="complaint-menu__item-desc">Графическое изображение или пропоганда насилия</p>
            </label>
        </div>

        <div class="complaint-menu__item">
            <label class="complaint-menu__cause">
                <input type="checkbox" class="complaint-menu__checkbox">Это моя интелектуальная собственность
                <p class="complaint-menu__item-desc">Нарушение авторских прав или прав на товарный знак</p>
            </label>
        </div>
    </div>


    <div class="buttons">
        <button class="btn btn--close">Отмена</button>
        <button class="btn btn--next">Далее</button>
    </div>

</div>