<div id="create_board_modal">
  <div class="create-board-modal-background">
    <div class="create-board-model-wrapper">
      <button id="close_create_board_modal">X</button>
      <h2 class="">CREATE BOARD MODAL</h2>
      <form id="crete_board_modal_form">
        <div id="crete_board_modal_form_error"></div>
        <label>Desk title
          <input id="create_board_modal_desk_title_input" type="text" placeholder="Desk title" />
        </label>
        <button type='submit'>Save</button>
      </form>
    </div>
  </div>
</div>