<div id="create_board_modal">
  <div class="create-board-modal--background" id="create-board-modal-close">
    <div class="create-board-model--wrapper">
      <button id="close_create_board_modal">X</button>
      <h2 class="create_board_modal__title">Create a new desk</h2>
      <form id="crete_board_modal__form">
        <div id="crete_board_modal__form-error"></div>
          <input id="create_board_modal__desk-title-input" type="text" placeholder="Desk title" />
        <button id="save_create_board_modal" type='submit'>Save</button>
      </form>
    </div>
  </div>
</div>