<div id="create_board_modal">
  <div class="create-board-modal--background" id="create-board-modal-close">
    <div class="create-board-model--wrapper">
      <button id="close_create_board_modal">&times;</button>
      <h2 class="create_board_modal__title">Создать новую доску</h2>
      <form id="crete_board_modal__form">
          <input id="create_board_modal__desk-title-input" type="text" placeholder="Название доски" />
        <button id="save_create_board_modal" type='submit'>Сохранить</button>
        <div id="crete_board_modal__form-error"></div>
      </form>
    </div>
  </div>
</div>